*{
	margin: 0;
	padding: 0;
	border: 0;
}

//colours
$blue: #2aa1df;
$black: #444034;
$link: #035b8a;
$muted: #87847a;
$boxbackground: #f2f1e6;

//fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
$fontfamily: 'Open Sans', sans-serif;

.lender-widget{
	max-width: 670px;
	font-family: $fontfamily;
	color:$black;
	padding: 10px 18px 13px;
	outline: 1px solid grey;

	h1{
		font-size: 42px;
		margin-bottom: 10px;
		font-weight: 700;
		line-height: 1;
		letter-spacing: -2.2px;
	}
	a{
		color: $link;
		text-decoration: none;
		font-weight: 600;
	}
	.blue{
		color:$blue;
	}
	.bold{
		font-weight: 600;
	}

	.lender-form{
		background-color: $boxbackground;
		padding: 5px 20px 25px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;

		input, label, button{
			cursor: pointer;
		}
		label{
			display: inline-block;
		}
	
		.column{float:left;}
		.clear{clear:both;}

		.percentage{
			font-size: 95px;
			line-height: 1;
			letter-spacing: -7px;
			margin-right: 22px;
		}
		.ann-return{
			font-size: 39px;
			margin-top:12px;
			letter-spacing: -0.3px
		}
		.loan-length{
			font-size: 23px;
			line-height: 1;
			margin-top: 2px;
			letter-spacing: -0.3px;
		}
		input[type="radio"]{
			width:20px;
		}
		.help-icon{
			font-size: 19px;
			position: relative;
			top:-3px;
			cursor: pointer;
		}
		.row-desc{
			margin-top:10px;
		}
		.desc{
			color: $muted;
			font-size: 14px;
			width:62%;
			min-width: 263px;
			letter-spacing: -0.2px;
			line-height: 1.3;

		}
		.submit{
			width:38%;
			min-width:162px;
			text-align: center;
		}
		button{
			width: 160px;
			height: 41px;
			background-color: $blue;
			color: white;
			font-size: 23px;
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			border-radius: 7px;
			margin-top: 1px;
			letter-spacing: 0.3px;
			border: 1px solid #74c4ed;

			background: #74c4ed; /* Old browsers */
			background: -moz-linear-gradient(top,  #74c4ed 0%, #2ba1df 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  #74c4ed 0%,#2ba1df 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  #74c4ed 0%,#2ba1df 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74c4ed', endColorstr='#2ba1df',GradientType=0 ); /* IE6-9 */
		}

	}
	footer{
		margin-top: 9px;
		font-size: 20px;
		letter-spacing: 0.2px;
	}
}

.ui-tooltip{
	max-width: 350px;
	width:100%;
	padding:14px 17px;
	line-height: 1.3;
	letter-spacing: -0.3px;
	font-size: 14px;
	background-color: $boxbackground;
	color: $black;
	font-family: $fontfamily;
	-webkit-box-shadow: 0 0 10px $muted;
	box-shadow: 0 0 10px $muted;
	border: none;
}
